# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribución / paquetes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs y archivos temporales
*.log

# MacOS
.DS_Store

# Otros
*.sqlite3
*.fits
*.dat
*.csv
*~
*#
#*
